.flex {
  display: flex;
  /* justify-content: center; */
  background-color: lightgreen;
  height: 100px;
}

.poseItem {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 30px;
}

.poseItem:hover {
  box-shadow: black 0px 1px 5px;
}