.flex {
  display: flex;
  /* justify-content: center; */
  background-color: lightgreen;
  height: 200px;
}

.poseItem {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 30px;
}