.flex {
  display: flex;
  flex-wrap: wrap;
  height: 80px;
}

.poseItem {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  border: 1px solid black;
  width: 30px;
}

.poseItem:hover {
  box-shadow: black 0px 1px 5px;
}